<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'main' %>
    <%= stylesheet_pack_tag 'vendor' %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <title><%= yield :title %></title>
  </head>

  <body>
    <div id="vue-app" class="page-container">
      <md-app>
        <md-app-toolbar class="md-primary">
          <div class="md-toolbar-section-start">
            <md-button class="md-icon-button" @click="drawer.active = !drawer.active">
              <md-icon>menu</md-icon>
            </md-button>

            <md-tabs md-type="fixed" md-active-tab="<%= yield :navigation %>">
              <md-tab id="navigation-inventory" href="/inventory" md-icon="collections"></md-tab>
              <md-tab id="navigation-booster-creators" href="/booster_creators" md-icon="add_to_photos"></md-tab>
              <md-tab id="navigation-my-listings" href="/my_listings" md-icon="store_mall_directory"></md-tab>
              <md-tab id="navigation-account-histories" href="/account_histories" md-icon="account_balance_wallet"></md-tab>
            </md-tabs>
          </div>
        </md-app-toolbar>
        <md-app-drawer :md-active.sync="drawer.active">
          <md-list>
            <md-list-item md-expand :md-expanded="drawer.accounts_enabled">
              <md-icon>supervised_user_circle</md-icon>
              <span class="md-list-item-text">Accounts</span>

              <md-list slot="md-expand">
                <md-list-item class="md-inset" v-for="account in accounts" :key="account.id">
                  <md-icon>account_circle</md-icon>
                  <div class="md-list-item-text">
                    <span>{{account.bot_name || account.account_id}}</span>
                    <span>{{account.status}}</span>
                  </div>

                  <span v-if="account.bot_name">
                    <md-button class="md-dense md-icon-button" @click="asf_command(account, '2faok')">
                      <md-icon>check</md-icon>
                    </md-button>

                    <md-button class="md-dense md-icon-button" @click="asf_command(account, '2fano')">
                      <md-icon>close</md-icon>
                    </md-button>
                  </span>
                </md-list-item>
              </md-list>
            </md-list-item>
          </md-list>
        </md-app-drawer>
        <md-app-content>
          <%= yield %>

          <md-snackbar :class="snackbar.type" md-position="left" :md-duration="5000" :md-active.sync="snackbar.active">
            <span>{{snackbar.message}}</span>
            <md-button class="md-dense md-icon-button md-primary" @click="snackbar.active = false">
              <md-icon>close</md-icon>
            </md-button>
          </md-snackbar>
          <md-dialog :md-active.sync="modal.active">
            <%= yield :modal %>
          </md-dialog>
        </md-app-content>
      </md-app>
    </div>
  </body>
</html>
