<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'main' %>
    <%= stylesheet_pack_tag 'vendor' %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <title><%= yield :title %></title>
  </head>

  <body>
    <div id="vue-app" class="page-container">
      <md-app>
        <md-app-toolbar class="md-primary">
          <div class="md-toolbar-section-start">
            <md-button class="md-icon-button" @click="nav_visible = !nav_visible">
              <md-icon>menu</md-icon>
            </md-button>
            <span class="md-title"><%= yield :title %></span>
          </div>

          <div class="md-toolbar-section-end">
            <md-tabs md-type="fixed" md-active-tab="<%= yield :navigation %>">
              <md-tab id="navigation-inventory" href="/inventory" md-icon="collections"></md-tab>
              <md-tab id="navigation-booster-creators" href="/booster_creators" md-icon="add_to_photos"></md-tab>
              <md-tab id="navigation-my-listings" href="/my_listings" md-icon="store_mall_directory"></md-tab>
              <md-tab id="navigation-account-histories" href="/account_histories" md-icon="account_balance_wallet"></md-tab>
            </md-tabs>
          </div>
        </md-app-toolbar>
        <md-app-drawer :md-active.sync="nav_visible">
          <md-toolbar class="md-transparent" md-elevation="0">Navigation</md-toolbar>

          <md-list>
            <md-list-item href="/inventory">
              <md-icon>collections</md-icon>
              <span class="md-list-item-text">Inventory</span>
            </md-list-item>
            <md-list-item href="/booster_creators">
              <md-icon>add_to_photos</md-icon>
              <span class="md-list-item-text">Booster Creators</span>
            </md-list-item>
            <md-list-item href="/my_listings">
              <md-icon>store_mall_directory</md-icon>
              <span class="md-list-item-text">My Listings</span>
            </md-list-item>
            <md-list-item href="/account_histories">
              <md-icon>account_balance_wallet</md-icon>
              <span class="md-list-item-text">Account Histories</span>
            </md-list-item>
          </md-list>
        </md-app-drawer>
        <md-app-content>
          <%= yield %>

          <md-snackbar :class="snackbar.type" md-position="left" :md-duration="5000" :md-active.sync="snackbar.active">
            <span>{{snackbar.message}}</span>
            <md-button class="md-dense md-icon-button md-primary" @click="snackbar.active = false">
              <md-icon>close</md-icon>
            </md-button>
          </md-snackbar>
          <md-dialog-confirm :md-active.sync="confirm.active"
                             :md-title="confirm.title"
                             @md-confirm="confirm.callback"
                             md-confirm-text="Yes"
                             md-cancel-text="No"
          />
        </md-app-content>
      </md-app>
    </div>
  </body>
</html>
